@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  line-height: 1.5;
  font-family: Baloo Chettan, cursive;
  font-family: Comfortaa, cursive;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.nav {
  margin: 0;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav li {
  display: inline-block;
  padding: 0;
}

header {
  background-color: #871218;
  padding: 0 0 .75em;
}

body {
  margin: 0;
  background-color: #fdffad;
}

p {
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  font-family: "Comfortaa", cursive;
  color: #fdff93;
  margin: 0;
  text-align: center;
  font-size: 3rem;
  padding: .5rem 0 .1em;
}

.nav a {
  background-color: #b2a212;
  color: white;
  border-radius: 1px;
  text-decoration: none;
  font-size: 1rem;
  padding: .5em;
}

.nav a:hover {
  background-color: #56082b;
}

main h2 {
  font-family: "Baloo Chettan", cursive;
  color: #b20953;
  text-align: center;
  font-size: 1.875rem;
  margin: .5em 0 .75em;
}

footer {
  text-align: center;
  background-color: #871218;
  padding: .5em;
  margin: 4em 0;
  color: #fdff93;

}

img {
  width: 100%;
  display: block;
}

figure {
  margin: 0 .3em;
}

.nav .current {
  background-color: #680c0c;
}

/* Responsiveness */

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
    text-align: center;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }


}

/* Floating shape in header*/

.hex {
  float: left;
  width: 100px;
}

.portrait {
  float: right;
  width: 200px;
  margin: -1em 0 .5em;
}
